@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Public Sans", sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Epilogue", sans-serif;
  }
  .font-mono {
    font-family: "Roboto Mono", "Courier New", monospace;
  }
}
